%h3 Unconfirmed Debts
%h4 Recent
- user.debts_debtor.order(updated_at: :desc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_recent_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post

%h4 Oldest
- user.debts_debtor.order(updated_at: :asc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post

%h4 Top Amount
- user.debts_debtor.order(amount: :desc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post

%h4 Least Amount
- user.debts_debtor.order(amount: :asc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_least_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post

%h4 Top Remaining
- user.debts_debtor.order(remaining: :desc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post

%h4 Least Remaining
- user.debts_debtor.order(remaining: :asc).
	- where(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_least_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		currency :
		= "#{Debt::CURRENCIES[debt.currency][:name]} (#{debt.currency})"
		%br
		- if debt.description.length > 0
			= debt.description
			%br
		debtor : 
		= link_to debt.debtor.name, user_path(debt.debtor)
		/ = link_to :Remove, destroy_debt_path(debt), method: :delete
		%br
		= link_to :Confirm, confirm_debt_path(debt), method: :post