%h3 As Debtor
%h4 Recent
- user.debts_debtor.order(updated_at: :desc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_recent_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)

%h4 Oldest
- user.debts_debtor.order(updated_at: :asc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)

%h4 Top Amount
- user.debts_debtor.order(amount: :desc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)

%h4 Least Amount
- user.debts_debtor.order(amount: :asc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_least_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)

%h4 Top Remaining
- user.debts_debtor.order(remaining: :desc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_top_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)

%h4 Least Remaining
- user.debts_debtor.order(remaining: :asc).
	- where.not(confirmed_at: nil).take(2).each do |debt|
	%div{id: "creditor_least_amount_#{debt.id}"}
		amount : 
		= debt.amount
		%br
		remaining : 
		= debt.remaining
		%br
		creditor : 
		= link_to debt.creditor.name, user_path(debt.creditor)