- net = current_user.creditor_total - current_user.debtor_total
%hr
= form_for :search, url: :search_users, method: :get do |f|
	= f.text_field :id
	= f.submit :Search
#net
	Net : 
	%span= net
%h2 Debts
= render partial: 'index_creditor', locals: {user: current_user}
%hr
= render partial: 'index_debtor', locals: {user: current_user}
%hr
= render partial: 'index_unconfirmed', locals: {user: current_user}